extends layout.pug

block content
  div#about
    div#about-title
      h2 Maliha Tanweer
      p
        | I have a bachelor's degree from Hunter College (CUNY), major in biology and minor in computer science. I was always afraid of learning programming because I thougth that it is very difficult. 
        | After completing my minor I was interested in programming, therefore I started looking for courses to grow in a career related to computer science. So I took several courses online and acquired knowledge and experience in programming. 
        | Now I feel confident calling myself a web developer who is eager to learn more and build productive applications.
    
    div#about-skills-contact
      h3 Skills
      ul
        li HTML
        li CSS
        li Javascript
        li Object Oriented Javascript
        li jQuery
        li Express
        li Nodejs
        li Git and Github

      h3 Contact Info
      ul
        li 917-945-4474
        li malihatanweer@gmail.com

      a.button.expanded(href='https://www.linkedin.com/in/maliha-tanweer/') LinkedIn
      a.button.expanded(href= 'https://github.com/malihat') GitHub
      a.button.expanded(href='https://twitter.com/maliha_tanweer') Twitter