doctype html
//- <!DOCTYPE html>
head
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title  My Portfolio
    link(rel='stylesheet', href='/static/styles/index.css')
    link(href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet")
body  
    div#header
        img(src='/static/images/logoscreen.png')
        h1  Maliha Tanweer 
        p  Web Developer 
    
    div#nav
        a(href='/about') About
        a(href='/') Portfolio
        //- a(href='/contact') Contact

block content 
